<h2>Edytuj akt rozwodu</h2>
<form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="z_orzekaniem_winy_T_N">Z orzekaniem o winy?</label>
      <select class="form-select" id="z_orzekaniem_winy_T_N" [(ngModel)]="z_orzekaniem_winy_T_N" [ngModelOptions]="{standalone: true}" aria-label="Domyślna wartość">
        <option value="0">nie</option>
        <option value="1">tak</option>
      </select>
    </div>

    <div class="form-group">
        <label for="id_powodu_glownego">Powód rozwodu</label>
      <select class="form-select" id="id_powodu_glownego" [(ngModel)]="id_powodu_glownego" [ngModelOptions]="{standalone: true}" aria-label="Domyślna wartość">
          <option *ngFor="let powod of listaPowodow" [value]="powod.id">{{ powod.nazwa_powodu_rozwodu }}</option>
        </select>
        </div>

    <div class="form-group">
        <label for="czy_wylacznie_T_N">Czy wyłącznie?</label>
      <select class="form-select" id="czy_wylacznie_T_N" [(ngModel)]="czy_wylacznie_T_N" [ngModelOptions]="{standalone: true}" aria-label="Domyślna wartość">
        <option value="0">nie</option>
        <option value="1">tak</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-warning">Edytuj</button>
  </form>