<h2>Dodaj kierownik</h2>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="imie">Imię</label>
      <input type="text" class="form-control" id="imie" [(ngModel)]="imie" [ngModelOptions]="{standalone: true}" aria-describedby="imie" placeholder="Podaj imię">
    </div><br>
    <div class="form-group">
        <label for="nazwisko">Nazwisko</label>
        <input type="text" class="form-control" id="nazwisko" [(ngModel)]="nazwisko" [ngModelOptions]="{standalone: true}" aria-describedby="nazwisko" placeholder="Podaj nazwisko">
      </div><br>
    <div class="form-group">
      <label for="urzad_id">Urząd</label>
    <select class="form-select" id="urzad_id" [(ngModel)]="urzad_id" [ngModelOptions]="{standalone: true}" aria-label="Domyślna wartość">
        <option *ngFor="let urzad of listaUrzedow" [value]="urzad.id">{{ urzad.nazwa_urzedu }}</option>
      </select>
      </div>
      <div class="form-group">
        <label for="czy_zastepca_T_N">Czy zastępca?</label>
      <select class="form-select" id="czy_zastepca_T_N" [(ngModel)]="czy_zastepca_T_N" [ngModelOptions]="{standalone: true}" aria-label="Domyślna wartość">
        <option value="0">nie</option>
        <option value="1">tak</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Dodaj</button>
  </form>