<h2>Dodaj akt urodzenia</h2>
<form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="id_obywatela">Obywatel</label>
    <select class="form-select" id="id_obywatela" [(ngModel)]="id_obywatela" [ngModelOptions]="{standalone: true}" (click)="checkValueObywatel(id_obywatela)" aria-label="Domyślna wartość">
        <option *ngFor="let obywatel of listaObywateli" [value]="obywatel.id">{{ obywatel.imie }} {{ obywatel.nazwisko }}</option>
      </select>
      </div>

      <div class="form-group">
        <label for="id_ojca">Ojciec</label>
      <select class="form-select" id="id_ojca" [(ngModel)]="id_ojca" [ngModelOptions]="{standalone: true}" (click)="checkValueO(id_ojca)" aria-label="Domyślna wartość">
          <option *ngFor="let obywatel of listaOjcow" [value]="obywatel.id">{{ obywatel.imie }} {{ obywatel.nazwisko }}</option>
        </select>
        </div>

        <div class="form-group">
            <label for="id_matki">Matka</label>
          <select class="form-select" id="id_matki" [(ngModel)]="id_matki" [ngModelOptions]="{standalone: true}" (click)="checkValueM(id_matki)" aria-label="Domyślna wartość">
              <option *ngFor="let obywatel of listaMatek" [value]="obywatel.id">{{ obywatel.imie }} {{ obywatel.nazwisko }}</option>
            </select>
            </div>

    <br>
    <button type="submit" class="btn btn-success">Dodaj</button>
  </form>